@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    background: #5F35F5;
    height: 95vh;
    width: 15%;
    margin: auto; 
    margin-top: 2.5vh;
    text-align: center;
    padding: 38px 0;
    border-radius: 20px;
    overflow: hidden;
}

.sidebarimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar h1{
    color: white;
    font-size: 16px;;
    text-transform: capitalize;
    margin-top: 10px;
}

.sidebar .icon{
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
}

.sidebar ul li{
    margin: 42px;
    list-style: none;
}

.active{
    position: relative;
    z-index: 2;
}

.active .icon{
    color: #5F35F5;
}

.active:before{
    position: absolute;
    top: -15px;
    left: -25px;
    width: 250px;
    height: 55px;
    background: white;
    content: "";
    z-index: -1;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}

.active:after{
    position: absolute;
    top: -15px;
    right: -42px;
    width: 10px;
    height: 55px;
    background: #5F35F5;
    content: "";
    z-index: -1;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}

.box{
   width: 100%;
   height: 46vh;
   background-color: #fff;
   border-radius: 20px; 
   margin-top: 2.5vh;
   padding: 20px;
   box-sizing: border-box;
   overflow-y: scroll;
    box-shadow: -2px 1px 43px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 1px 43px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 43px -6px rgba(0,0,0,0.75);
}

.list{
    display: flex;
    column-gap: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin: 10px 0;
}

.list:last-child{
    border-bottom: 0;
}

.list-left{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.list-right{
    width: 30%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}



@media screen and (max-width: 600px) {
    
    .sidebar {
        z-index: 2;
        width: 45%;
    }
    .sidebar ul li {
        /* margin: 23px; */
        list-style: none;
    }
    
    .box .list{
        justify-content: space-between;
    }
    .list{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
    
        .list-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
 
    .list-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .css-480o17-MuiGrid-root>.MuiGrid-item {
        padding-top: 16px !important;
    }
  }
    
    
    




